{% extends "base.html" %}

{% block container %}
<div class="jumbotron page-header">
	<h1>Three Cubes Store </h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus et ex sit amet imperdiet. Nunc gravida auctor lobortis. Praesent nunc purus, efficitur ac turpis vitae, rutrum faucibus tortor. Phasellus congue magna a lacus rutrum, elementum laoreet enim vestibulum. Ut sodales finibus ex, eu ornare odio euismod nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent malesuada sapien ligula, vel bibendum tortor ullamcorper pharetra nulla mi. Sed maximus et eros a commodo. Ut metus metus, sodales vitae justo non, volutpat laoreet justo.
	</p>
	<p><a class="btn btn-primary">Saiba mais</a></p>
</div>
{% endblock %}
